!!!
%html{lang: "ja"}
  %head
    %meta(charset="UTF-8")
  %body
    .wrapper
      = render partial: "side_bar"
      .chat-main
        .header
          .left-box
            .left-box__current-group
              d
            .left-box__member-list
              Member : 
              .meber-list__member
              メンバー
          .edit-btn
            = link_to "Edit", edit_group_path(params[:group_id]), method: :get
        .messages
          .message
            .message__info
              .message__info__user-name
                ユーザーネーム
              .message__info__date
                10/21
            .message__text
              こんにちは
          .message
            .message__info
              .message__info__user-name
                ユーザーネーム
              .message__info__date
                10/21
            .message__text
              こんにちは
        .form
          .new-message
            .new-message__input-box
              = form_for [@group, @message] do |f|
                = f.text_field :content, class: 'new-message__input-box__message', placeholder: 'type a message'
                = f.label :image, class: 'new-message__input-box__message__img' do
                  = fa_icon 'picture-o', class: 'icon'
                  = f.file_field :image, class: 'hidden'
                = f.submit 'Send', class: 'new-message__send'